h1{
    font-family: monospace;
}
#container{

    background-color: #ff8fa3;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 4px solid #ade8f4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
#container div{
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
    font-size: 5em;
    font-family: monospace;
}
div:nth-of-type(2){

    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
}
div:nth-of-type(4){
    align-self: center;
    flex-grow: 1;
    flex-shrink: 3;
}